.jumboText {
    color: white;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 4px 8px white;
}

.infoBtns a {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 12px 30px;
    color: rgb(249, 207, 41);
}