.moreBtn {
  font-size: 20px;
  font-weight: bold !important;
  padding: 15px 45px;
  margin: 18px 30px;
  color: rgb(255, 193, 7) !important;
}

.moreBtn:hover {
  color: rgb(7, 7, 7) !important;
}


