.jumboText {
    position: relative;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 4px 8px white;
}

.btn-xl {
    font-size: 24px !important;
    font-weight: bold !important;
    font-style: italic;
    color: rgb(20, 68, 73) !important;
    padding: 15px 45px !important;
    border-radius: 300px;
    margin-bottom: 45px !important;
}

.btn-xl:hover {
    color: rgb(40, 167, 180) !important;
}