.customForm {
  margin: 20px;
}

.submitBtn {
  font-weight: bold !important;
  color: rgb(249, 207, 41) !important;
  margin-top: 15px;
  margin-bottom: 40px;
}

.submitBtn:hover {
  color: rgb(7, 7, 7) !important;
}