.jumbotron {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 75px 20px !important;
    background-image: url("../../assets/images/coding-wallpaper-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

